*{
	text-decoration: none;
}

html{
	background-color:#363636;
	width: 100vw;
	height: 100vh;
}

body{
	background-color:#363636;
}

a img{
	width: 350px;
	height: 480px;
}

a p{
	color: white;
}


div.titulos{
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: #3D4392;
}

.titulos h1{
	font-size: 40px;
	font-weight: bolder;
	color: white;
}

.column h1{
	color: white;
}


.content{
	padding: 20px;
}

/*Scrollbar*/
::-webkit-scrollbar{
	width: 10px;
}


::-webkit-scrollbar-thumb{
	width: 10px;
	border-radius: 5px;
	background-color: #485FC7;
}

.navbar-brand{
	background-color: #3D4392;
}

.navbar-item{
	background-color: #3D4392;
	color: white;
}

.navbar-menu{
	background-color: #3D4392;
}

.card-content{
	background-color: #3D4392;
}

.title{
	color: #FFFFFF;
}

.subtitle{
	color: #FFFFFF;
}

.card-header-title{
	background-color: #363636;
	color: #FFFFFF;
}


@media (max-width: 400px){
a img{
	width: 150px;
	height: 180px;
}

.content .column{
	display: flex;
	justify-content: center;
}

}


@media (max-width: 800px){
	a img{
	width: 300px;
	height: 350px;
	}

	.content .column{
		display: flex;
		flex-direction: row;
	}

}