@media (max-width: 400px){
/* Slide section */
.slides-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.slider{
  width: 300px;
  height: 200px;
  border-radius: 4px;
  overflow: hidden;
}

    .slide img{
        width: 300px;
        height: 150px;
    }
    .slider{
        width: 360px;
        height: 150px;

    }
    .slides{
        width: 50%;
        height: 50%;
    }

.slides{
  width: 500%;
  height: 500px;
  display: flex;
  
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
  
}

.slide img{
        width: 360px;
        height: 150px;
}

.first{
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-duration: 25s;
    background: url('../image/nauto banner.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.second{
    background: url('../image/fate long banner.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center
}
.third{
    background: url('../image/Goku banner.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center
}
@keyframes slide {
    0%{
        margin-left: 0;
    }
    16%{
        margin-left: 0;
    }
    32%{
        margin-left: -20%;
    }
    48%{
        margin-left: -20%;
    }
    64%{
        margin-left: -40%;
    }
    80%{
        margin-left: -40%;
    }
    100%{
        margin-left: 0;
    }
}
}



@media (min-width: 400px){
    /* Slide section */
.slides-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.slider{
  width: 1434px;
  height: 300px;
  border-radius: 4px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
  
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
  
}

.slide img{
  width: 1445px;
  height: 300px;
}

.first{
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-duration: 25s;
    background: url('./image/nauto banner.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.second{
    background: url('./image/fate long banner.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center
}
.third{
    background: url('./image/Goku banner.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center
}
@keyframes slide {
    0%{
        margin-left: 0;
    }
    16%{
        margin-left: 0;
    }
    32%{
        margin-left: -20%;
    }
    48%{
        margin-left: -20%;
    }
    64%{
        margin-left: -40%;
    }
    80%{
        margin-left: -40%;
    }
    100%{
        margin-left: 0;
    }
}
/* Slide section */
}